<div class="container about-container">
  <div class="row align-items-center">
    <div class="col-md-4 text-center">
      <img src="../../../assets/nutri.png" alt="Thassiana Knofel" class="rounded-circle img-fluid">
    </div>
    <div class="col-md-8">
      <h2>Thassiana Knofel</h2>
      <p>
        Thassiana Knofel é uma nutricionista dedicada a orientar pessoas a alcançar uma vida mais saudável através de uma alimentação equilibrada. Formada em Nutrição pela Centro Universitário Presidente Antônio Carlos - UNIPAC, Thassiana acredita que a nutrição é a base para o bem-estar físico e mental.

      </p>
      <p>
        Com paixão a nossa missão é proporcionar seus pacientes com o conhecimento necessário para fazer escolhas alimentares inteligentes e alcançar uma vida mais saudável.
      </p>

    </div>
  </div>
</div>
