<div class="container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <div class="mb-3">
      <label for="username" class="form-label">Usuário</label>
      <input type="text" id="username" [(ngModel)]="credentials.username" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" id="password" [(ngModel)]="credentials.password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </form>
</div>
