.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.blog-card-img {
  max-height: 150px;
  object-fit: cover;
}

.blog-card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-card-summary {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.blog-card .card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blog-card .btn {
  margin-top: auto;
}
