<div class="container">
  <h1 class="text-center mt-5 mb-5 font-weight-bold">Nossos Serviços</h1>
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="card service-card">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-center">Consultas Nutricionais Personalizadas</h5>
          <p class="card-text">Oferecemos consultas individuais para avaliação do estado nutricional, elaboração de planos alimentares personalizados e acompanhamento contínuo.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card service-card">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-center">Planos Alimentares Específicos</h5>
          <p class="card-text">Desenvolvemos planos alimentares adaptados às necessidades individuais de cada cliente, levando em consideração metas, preferências e restrições alimentares.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card service-card">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-center">Orientação Nutricional para Grupos</h5>
          <p class="card-text">Realizamos palestras e workshops sobre nutrição para empresas, escolas e grupos com o objetivo de promover hábitos alimentares saudáveis.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card service-card">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-center">Acompanhamento em Programas de Emagrecimento</h5>
          <p class="card-text">Assistimos indivíduos em programas de perda de peso, fornecendo suporte nutricional e ajustando estratégias conforme necessário para alcançar metas de forma saudável.</p>
        </div>
      </div>
    </div>
  </div>
</div>
