<div class="container">
  <div class="hero-section">
    <div class="overlay">
      <div class="text-content">
        <h1>O que você está fazendo pela sua saúde?</h1>
        <p>Seus hábitos e cuidados diários podem tornar sua vida mais saudável.</p>
        <a href="https://api.whatsapp.com/send?phone=5532991409452" target="_blank" class="btn-whatsapp">
          <i class="fab fa-whatsapp"></i> Fale Conosco
        </a>
      </div>
    </div>
  </div>

  <h1 class="text-center mt-5 mb-3 font-weight-bold">Bem-vindo a NutriKnofel</h1>

  <section class="intro">
    <p class="text-justify mb-5 lead">
      Sua jornada para uma vida mais saudável começa aqui. Oferecemos consultoria nutricional personalizada para
      ajudá-lo a alcançar seus objetivos de saúde e bem-estar. Com a orientação especializada da nossa nutricionista,
      Thassiana C. D. Knofel, você terá acesso a planos alimentares individuais, baseados em suas necessidades
      específicas e metas pessoais. Nossa abordagem holística considera não apenas sua dieta, mas também seu estilo
      de vida, preferências alimentares e quaisquer condições médicas que possam influenciar sua saúde. Estamos
      comprometidos em fornecer suporte contínuo e motivação para que você possa fazer escolhas alimentares
      informadas e sustentáveis, promovendo uma vida mais equilibrada e saudável.
    </p>
  </section>

  <div class="row">
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="../../../assets/nutri-logo.png" class="card-img-top" alt="Sobre">
        <div class="card-body">
          <h5 class="card-title">Sobre</h5>
          <p class="card-text">Conheça Thassiana C. D. Knofel Nutricionista</p>
          <a routerLink="/sobre" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="../../../assets/bg2.jpg" class="card-img-top" alt="Nossos Serviços">
        <div class="card-body">
          <h5 class="card-title">Nossos Serviços</h5>
          <p class="card-text">Descubra os serviços que oferecemos para melhorar sua saúde.</p>
          <a routerLink="/servicos" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="../../../assets/blog.jpg" class="card-img-top" alt="Nosso Blog">
        <div class="card-body">
          <h5 class="card-title">Nosso Blog</h5>
          <p class="card-text">Leia nossos artigos sobre saúde, nutrição e bem-estar.</p>
          <a routerLink="/blog" class="btn btn-primary">Leia mais</a>
        </div>
      </div>
    </div>
  </div>

  <section class="call-to-action text-center">
    <h2 class="font-weight-bold">Entre em Contato</h2>
    <p class="lead">Agende sua consulta hoje mesmo e comece sua jornada para uma vida mais saudável!</p>
    <a href="https://api.whatsapp.com/send?phone=5532991409452" target="_blank" class="btn-whatsapp">
      <i class="fab fa-whatsapp"></i> Fale Conosco
    </a>
  </section>
</div>
